a(href="/menu").MainMenu-icon.MainMenu-openBtn
    img(src="images/mainmenu-logo.png")
div.MainMenu
  h2.MainMenu-title Main menu
  form.MainMenu-search
    label Search
      input(type="input",maxlength="100",placeholder="search").MainMenu-searchText
    input(type="submit",value="").MainMenu-searchBtn
  nav.MainMenu-menuLinks
    ul
      li.MainMenu-homeLink
        a(href="/") Home
      li.MainMenu-workLink
        a(href="work") Work
      li.MainMeu-aboutLink
        a(href="about") About
      li.MainMenu-contactLink
        a(href="contact") Contact