# Compilation output
/production/
/build/

# Node.js libraries
/node_modules/
# SASS compilation
sass-cache/

# IDE settings
.vscode/
.idea/

#Sensitive data
./deployment-config/*.json
!./deployment-config/*.sample.json
/source/assets/images/work*

# Deployment log
.awspublish*

# Large files
/source/assets/videos/