@keyframes ButtonShineIntro {
    0% {
        opacity: 0;
        transform: rotate(-30deg);
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        opacity: 0.25;
    }
}

@keyframes ButtonShineOutro {
    100% {
        opacity: 0;
        transform: rotate(-30deg);
    }
    50% {
        opacity: 1;
    }
    10% {
        transform: rotate(0deg);
    }
    0% {
        opacity: 0.25;
    }
}

@keyframes ListIntroVertical {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }

}

@keyframes ListOutroVertical {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(25%);
    }

}