$athens_gray: #FCFCFD;
$dark_gray: #353526;
$dark_gray_accent: #616155;
$dark_gray_highlight: #b8b8bc;
$dark_gray_accent2: #232323;

$work_red: #B21F12;

@mixin background-gradient {
    background-color: $athens_gray;
    background:
        linear-gradient(to bottom, #eaeaef 0%, $athens_gray 33%, $athens_gray 100%) repeat-x,
        $athens_gray repeat; /* W3C */
}