@font-face {
    font-family: 'colaborate';
    src: url('fonts/ColabBol-webfont.eot');
    src: url('fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabBol-webfont.woff') format('woff'),
         url('fonts/ColabBol-webfont.ttf') format('truetype'),
         url('fonts/ColabBol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'colaborate';
    src: url('fonts/ColabReg-webfont.eot');
    src: url('fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabReg-webfont.woff') format('woff'),
         url('fonts/ColabReg-webfont.ttf') format('truetype'),
         url('fonts/ColabReg-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?167950784');
  src: url('fonts/icons.eot?167950974#iefix') format('embedded-opentype'),
       url('fonts/icons.woff?167950874') format('woff'),
       url('fonts/icons.ttf?167950744') format('truetype'),
       url('fonts/icons.svg?1679503474#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}