@font-face {
    font-family: 'colaborate';
    src: url('fonts/ColabBol-webfont.eot');
    src: url('fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabBol-webfont.woff') format('woff'),
         url('fonts/ColabBol-webfont.ttf') format('truetype'),
         url('fonts/ColabBol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?86066016');
  src: url('fonts/icons.eot?86066016#iefix') format('embedded-opentype'),
       url('fonts/icons.woff?86066016') format('woff'),
       url('fonts/icons.ttf?86066016') format('truetype'),
       url('fonts/icons.svg?86066016#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}