$menu_open_time: 300ms;
$menu_close_time: 600ms;

body {
    @include sm-viewport {
        background: #000000;
        .Main {
            opacity: 1;
            transition: opacity $menu_close_time/4 ease-out $menu_close_time;
        }
        &.mainMenuOpen {
            
            .Main {
                opacity: 0.25;
                transition: opacity $menu_open_time/4 ease-in;
            }
            
            .MainMenu-icon {
                transition-delay: $menu_open_time/4;
            }
        }
    }
    
    &.FloatingMenus {
        .MainMenu::before {
            transform: scale(120);
        }
    }
}

.MainMenu {
	width: 100vw;

	position: fixed;
	z-index: 9998;
	
    top: 0;
    	
	background-color: transparent;
	padding: 0;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 2.72rem;
        height: 2.72rem;
        background-color: $dark_gray_accent2;
        top: 2vh;
        left: calc(6vw + 1em);
        border-radius: 100%;

        transition: transform $menu_open_time ease-in;
        z-index: -1;
        
        transform: scale(0.01);
    }

	.LogoName {
		margin: 2vh 6vw;
		font-size: 2em;
        z-index: 9999;
        
        &-first, &-last {
            color: $athens_gray;
        }
	}
    
    @include lg-viewport {
        &--noLogotype {
            .MainMenu-menuLinks {
                transform: translateX(calc(-9.33em - 9vw));
                transition: transform $menu_close_time ease-in-out;
            }
            .LogoName-first, .LogoName-last {
                opacity: 0;
            }
        }
    }

	&-icon {
		width: 16.66vw;
		height: 16.66vw;
		display: block;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 16.66vw;
		background-color: $main_menu_bg;
		z-index: 9999;
		
		display: none;	
		
		> img {
			height: 50%;
			padding: 25% 16.72%;
			
			&:active {
				background-color: $dark_gray_accent;
			}
		}
	}
	
	.MainMenu-permanentCloseBtn {
		display: none;
		position: absolute;
		top: 4.17vw;
		right: 4.17vw;

		width: 8.33vw;
		height: 8.33vw;
		
		line-height: 8.33vw;
		text-align: center;
		
		font-size: 1em;
		
		border-radius: 100%;
		
		text-decoration: none;
		color: #ffffff;
	}

	&-menuLinks {
		display: inline-block;
		padding: 0px;
		vertical-align: top;
		margin: 2vh 2vw;
        
        transition: transform $menu_open_time ease-in-out;
		
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
            line-height: 0;
		}
        
		li {
			list-style: none;
			text-indent: 0;
			padding: 0;
			margin: 0 1vw;
			
			display: inline-block;
			vertical-align: top;
            
            opacity: 0.45;
            
            animation-duration: 2*$menu_open_time;
            animation-iteration-count: 1;
            animation-direction: alternate;
            animation-fill-mode: backwards;
            animation-timing-function: ease-in-out;
            
            @for $childNo from 1 through 4 {
                &:nth-child(#{$childNo}) {
                    animation-delay: ($menu_open_time/2)*($childNo + 1);
                }
            }
            
			a {
				font-size: 0.5em;
				line-height: 2em;
				color: #ffffff;
				text-decoration: none;
				font-family: 'colaborate';
				text-transform: lowercase;
				
				display: block;
			}
            
            &.is-active {
                opacity: 1;
            }
		}
	}

    &--animateIn {    
        .MainMenu-menuLinks {
            li {
                animation-name: ZoomIn;
            }
        }
    }
    &--animateOut {
        .MainMenu-menuLinks {
            li {
                transform: scale(0);
                animation-name: ZoomOut;
                
                animation-duration: $menu_close_time;
                
                @for $childNo from 1 through 4 {
                    &:nth-child(#{$childNo}) {
                        animation-delay: ($menu_open_time/2)*(4 - $childNo);
                    }
                }
            }
        }
    }
	
	.ProfileLinks {
		display: inline-block;
		position: absolute;
		right: 8vw;
		
		&--social > ul {
			list-style: none;
			margin: 2vh 2vw;
			padding: 0;
			
			li {
				display: inline-block;
				margin: 0;
				padding: 1vh 0.5vw;
				
				a {
					font-size: 0;
					color: #ffffff;
                    opacity: 0.45;
					display: block;
					
					padding: 0;
					margin: 0;
					
					text-align: center;
					text-decoration: none;
					
					&:hover {
						opacity: 1;
						transition: opacity $menu_open_time/4 ease-in;
					}
					
					&::before {
						font-size: 1.66rem;
						margin: 0;
						padding: 0;
					}
                    
                    .osi-logo {
                        height: 1.66rem;
                        position: relative;
                        // left: -11vw;
                        top: 0.2rem;
                    }
				}
			}
		}
		
		&-source {
			border-left: 1px dashed $dark_gray_accent;
		}
		
		&--source {
			display: none;
			div {
				margin: 0 0 0 0.5vw;
				&::before {
					position: absolute;
					left: -1vw;
					margin: 0.2vh;
				}
				
                .osi-logo {
                    width: 8vw;
                    position: absolute;
                    left: -11vw;
                    top: -0.6rem;
                    opacity: 0.45;
                }
                
				color: $dark_gray_accent;
				a {
					color: $dark_gray_highlight;
					&:hover {
						color: #ffffff;
					}	
				}
			}
		}
	}
	
	@include sm-viewport {
		height: 100vh;
		width: 58.33vw;
        left: 100%;
		top: 0;
        bottom: 0;
		
		padding: 0 8.33vw;
        transition: transform $menu_open_time ease-in-out $menu_close_time/4;
        
        background-color: $main_menu_bg;
		
		&:hover {
			height: inherit;
			padding: 0 8.33vw;
		}
		
		.LogoName {
			margin-top: 16.66vw;
			margin: 16.66vw 0 0 0;
			display: block;
			font-size: 3em;

			&-logo {
				display: none;
			}
		}
		
		&-icon {
			display: block;
            transition: transform $menu_open_time ease-in-out $menu_close_time/4;
            &.MainMenu-closeBtn {
                left: auto;
                transform: translateX(-74.99vw);
            }
		}
		
        .MainMenu-permanentCloseBtn {
			display: block;
            
            opacity: 0.25;
            transform: rotate(0);
            
            animation: ButtonShineOutro $menu_close_time/4 1 normal forwards;
            animation-delay: 0;
            
			&:active {
				background-color: $dark_gray_accent;
				color: #ffffff;
			}
		}
        
		&--open {
			transform: translateX(-100%);
            transition: transform $menu_open_time ease-in-out $menu_open_time/4;

			width: 58.33vw;
			
			padding: 0 8.33vw;
			
			overflow-y: scroll;
			overflow-x: hidden;
            
            .MainMenu-permanentCloseBtn {
                animation: ButtonShineIntro ($menu_open_time*4) ($menu_open_time) 1 normal forwards;
            }
            
            .MainMenu-menuLinks li {
                animation: ListIntroVertical $menu_open_time 0s 1 normal forwards;
                animation-timing-function: ease-out;
                @for $childNo from 1 through 4 {
                    &:nth-child(#{$childNo}) {
                        animation-delay: ($menu_open_time/4)*($childNo + 1);
                    }
                }
                transform: translateX(25%);
                opacity: 0;
            }
		}
		
		&-menuLinks {
			margin: 8.33vw 0 0 0;
			border-top: 1px solid $dark_gray;
			display: block;
			ul {
				margin: 2.78vw 0;
			}
			li {
				display: block;
				a {
					font-size: 8vw;
					line-height: 1.25;
					padding: 0.2em 0;
					color: $dark_gray_highlight;
					&::active {
						background-color: $dark_gray;
					}
				}
 
                transform: translateX(0%);
                opacity: 1;

                animation: ListOutroVertical $menu_open_time 0s 1 normal forwards;
                animation-timing-function: ease-out;
                @for $childNo from 1 through 4 {
                    &:nth-child(#{$childNo}) {
                        animation-delay: ($menu_open_time/4)*$childNo;
                    }
                }
            }
		}
		
		.ProfileLinks {
			border-top: 1px solid $dark_gray;
			display: block;
			position: static;
			&--social > ul {
				margin: 5.55vw auto;
				width: 110%;
				li {
					padding: 0;
					a {
						padding: 0.3rem;
						border-radius: 100%;
						margin: 0;

						&::before {
							font-size: 8vw;
						}
						&:active {
							color: #ffffff;
							background-color: $dark_gray_accent;
							padding: 0.6rem;
							margin: -0.3rem;
						}
					}
				}
			}
			
			&-source {
				display: none !important;
			}

			
			&--source div {
				margin: 5.55vw 0 5.55vw 12.11vw;
				position: relative;

				display: block;
				font-size: 0.66em;

				&::before {
					left: -11.11vw;
					font-size: 3em;
					margin: 0;
				}
				
				a:active {
					padding: 4vw;
					margin: -4vw;
					background-color: $dark_gray_accent;
					text-decoration: none;
					border-radius: 2vw;
				}
			}
		}
	}
}