$main-height: 0;//;//calc(80vh - 2.96rem);
$main-menu-height: calc(4vh + 2.96em);
$main-sm-padding: 16.66vw 8.33vw 8.33vw 8.33vw;
$main-sm-offset-margin: 0;
$main-sm-offset-margin-nextblock: 0;
$section-shadow: 0 0 .1em rgba(0,0,0,0.65);

.Main {
    position: relative;
	padding: 8vh 8vw;
	margin: 0;
	min-height: $main-height;
    
    font-size: 0;
    
    @include sm-viewport {
        position: relative;
        margin: 0;
        padding: $main-sm-padding;
        min-height: 76vh;
        margin: 0;
       
        background-position: bottom 0 left 0, bottom 0 left 0, center center !important;
    }
    
    &--sectionMenu {
        font-size: 0;
        padding: 24vh 6vw 12vh 6vw;
        
        @include sm-viewport {
            padding: 12vh 6vw;
            min-height: 72vh;
            height: 72vh;
        }   
            
        .PageMenu, .SectionMenu {
            display: inline-block;
            vertical-align: top;
            
            @include sm-viewport {
                display: block;
            }
        }
        
        h1, h2, .SectionMenu li a {
            font-color: $athens_gray_2;
            opacity: 1;
            line-height: 0.8;
            font-size: 3em;
            display: inline-block;
            
            padding: 0;
            margin: 0;
            
            @include sm-viewport {
                font-size: 1.66em;
            }
        }
        h1 {
            &::after {
                content: ":";
            }
            padding: 0 0 0 0.33em;
            border-left: 0.1818em solid $dark_gray_highlight;
            text-transform: uppercase;
            
        }
        
        h2 {
            line-height: 1.15;
        }
        
        @include sm-viewport {
            h1 {
                padding: 0;
                border: none;
                
                &::after {
                    content: none;
                }
            }
            
            h2 {
                display: block;
                font-size: 1em;
                padding: 0.1818em 0;
            }
        }
        
        li {
            a {
                text-decoration: none;
                font-weight: bold;
                color: $athens_gray_2;
                display: block;
                padding: 0.66em 0;
            }
        }

        .PageMenu {
            width: 70%;
            font-size: 2rem;
            
            
            ul {
                margin: 1em 0px 0px 1.5em;
            }
            li a {
                font-style: italic;
            }
            
            @include sm-viewport {
                width: auto;
                
                position: absolute;
                bottom: 2vh;
                
                h1 {
                    display: block;
                    font-size: 1em;
                }
                
                h2 {
                    display: inline-block;
                    font-size: 1.66em;
                }
            
                ul {
                    display: none;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    
                    max-height: 16.66vw;
                    overflow: hidden;
                    
                    background-color: $work-red;
                    z-index: 1000;
                }
                
                ul, li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
                li {
                    display: block;
                }
                li a {
                    font-size: 0.5em;
                    line-height: 8.33vw;
                    padding: 4.1818vw 8.33vw;
                }
            }

        }
        
        .SectionMenu {
            margin: 4.1818em 0 0 0;
            font-size: 0.66rem;
            width: 30%;
            
            @include sm-viewport {
                width: auto;
                display: none;
            }
            
            h1, h2 {
                font-size: 4em;
            }
            ul {
                list-style: none;
                margin: 4rem 0 0 0;
                padding: 0;
            }
            li {
                list-style: none;
                margin: 2.66em 0;
                a {
                    @include heading-font;
                    text-transform: uppercase;
                    padding: 0 0 0 0.33em;
                    border-left: 0.1818em solid rgba(255,255,255,.25);
                    position: relative;
                    
                    
                    
                    span {
                        text-transform: none;
                        //color: $dark_gray_highlight;
                        opacity: 0.65;
                        font-size: 0.66em;
                        font-style: italic;
                        display: block;
                        @include body-font;
                        padding: 0.66em 0 0.1em 0;
                    }
                    
                    &::before {
                        content: '';
                        width: 0.1818em;
                        height: 100%;
                        position: absolute;
                        
                        bottom: 0;
                        left: -0.1818em;
                        
                        background: $work-red;
                        transform: scaleY(0);
                        transition: transform $menu_open_time ease-in-out;
                        
                        transform-origin: bottom;
                    }
                    
                    &:hover, &.is-active {
                        span {
                            opacity: 1;
                        }
                        &::before {
                            transform: scaleY(1);
                        }
                    }
                    
                    &.is-active span {
                        opacity: 0.65;
                    }
                }
            }
        }
        
    }
    
    &-bodySection {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 8% 8%;
        min-height: calc(100vh - 3em -16%);
        
        vertical-align: top;
        
        font-size: 1rem;
        
        @include background-gradient;
        
        @include sm-viewport {
            display: block;
            min-height: auto;

            margin: $main-sm-offset-margin;
            padding: $main-sm-padding;
            
            font-size: 5vw;
        }

    }

    
    &-featured {
        margin: 0;
        padding-left: 4%;
        padding-right: 0;
        
        @include sm-viewport {
            margin: $main-sm-offset-margin-nextblock;
            width: auto;
            
            //@include background-gradient;
            color: $dark_gray;
        }
    }
    
    &--layout-stageLeft {
        // Used to modify the Main page area into two columns, one for the
        // navigation / blurb (.Main-stageLeft) and the main content area
        // (.Main-mainContent).
        
        @include sm-viewport {
            padding: $main-sm-padding;
        }  
    }
    
    &--layout-fullMainContent {
        // Makes the Main occupy the entire content area.
        
    }
}

body.FloatingMenus {
    .Main--sectionMenu {
        @include sm-viewport {
            .PageMenu ul {
                display: block !important;
            }
        }
    }
}