$main-height: calc(80vh - 2.96rem);
$main-menu-height: calc(8vh + 2.96em);

.Main {
    position: relative;
	padding: 4vh 4vw;
	margin: 4vh 2vw $main-menu-height 2vw;
	min-height: $main-height;
    
    font-size: 0;

    &-stageLeft, &-mainContent {
        display: inline-block;
        position: relative;

        margin: 0;
        padding: 4vh 4%;
        min-height: $main-height;
        
        vertical-align: top;
        
        font-size: 1rem;
    }

    &-stageLeft {
        // An area to the left of the main page that might contain an
        // introdutionary paragraph or some sort of tab system.

        display: inline-block;
        width: 28%;
        
        h1 {
            margin: 0;
            padding: 0;
            line-height: 1;
        }
    }
    
    &-mainContent {
        width: 56%;
    }
    
    &--layout-stageLeft {
        // Used to modify the Main page area into two columns, one for the
        // navigation / blurb (.Main-stageLeft) and the main content area
        // (.Main-mainContent).
        padding: 0;   
    }
    
    &--layout-fullMainContent {
        // Makes the Main occupy the entire content area.
        
    }
}