$main-height: calc(80vh - 2.96rem);
$main-menu-height: calc(4vh + 2.96em);
$main-sm-padding: 16.66vw 8.33vw 8.33vw 8.33vw;
$main-sm-offset-margin: 0;
$main-sm-offset-margin-nextblock: 0;
$section-shadow: 0 0 .1em rgba(0,0,0,0.65);

.Main {
    position: relative;
	padding: 8vh 8vw;
	margin: 0;
	min-height: $main-height;
    
    font-size: 0;
    
    @include sm-viewport {
        position: relative;
        margin: 0;
        padding: $main-sm-padding;
        min-height: calc(100vh - 24.99vw);
        margin: 0;
        height: calc(100vh - 24.99vw);

        overflow-y: scroll;
        
        background-position: bottom 0 left 0, bottom 0 left 0, center center !important;

    }
    
    &-sectionMenu {
        font-size: 1rem;
        nav {
            overflow: hidden;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: calc(2vh + 1rem);
                height: calc(2vh + 1rem);
                background-color: #ff0000;
                top: 0;
                left: 0;
                border-radius: 100%;

                transition: transform $menu_open_time*1.5 ease-in $menu_open_time*1.5;
                z-index: -1;
                
                transform: scale(0.01);
            }
        }
    }
    
    &-bodySection {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 8% 8%;
        min-height: calc(100vh - 16%);
        
        vertical-align: top;
        
        font-size: 1rem;
        
        @include background-gradient;
        
        @include sm-viewport {
            display: block;
            min-height: auto;

            margin: $main-sm-offset-margin;
            padding: $main-sm-padding;
            
            font-size: 5vw;
        }

    }

    
    &-featured {
        margin: 0;
        padding-left: 4%;
        padding-right: 0;
        
        @include sm-viewport {
            margin: $main-sm-offset-margin-nextblock;
            width: auto;
            
            //@include background-gradient;
            color: $dark_gray;
        }
    }
    
    &--layout-stageLeft {
        // Used to modify the Main page area into two columns, one for the
        // navigation / blurb (.Main-stageLeft) and the main content area
        // (.Main-mainContent).
        
        @include sm-viewport {
            padding: $main-sm-padding;
        }  
    }
    
    &--layout-fullMainContent {
        // Makes the Main occupy the entire content area.
        
    }
}

body.FloatingMenus {
    .Main-sectionMenu {
        nav {
            width: 100%;
            height: 2em;
            padding: 1vh 6vw;
            
            position: fixed;
            top: 0;
            left: 0;
            top: calc(3em + 4vh);
            
            //animation: SlideTop $menu_open_time $menu_open_time 1 normal backwards;
            animation-timing-function: ease-in-out;
            
            //background-color: #ff0000;
            
            z-index: 8999;
            
            &::before {
                transform: scale(150);
            }
            
            h1 {
                padding: 0;
                margin: 0;
                 
                font-size: 1em;
                
                display: inline-block;
                vertical-align: top;
            }
            
            ul {
                list-style: none;
                display: inline-block;
                vertical-align: top;
                padding: 0;
                margin: 0 0 0 4vw;
                font-size: 1em;
                
                li {
                    vertical-align: top;
                    list-style: none;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    
                    a {
                        padding: 1vh 4vw;
                        
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}