body {
    font-family: 'Merriweather', 'Times New Roman', 'Roman', serif;
    font-size: 16px;
    @include sm-viewport {
        font-size: 4vw;
    }
}
h1, h2, .TitleFont, .LogoName {
    font-family: 'colaborate', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 3em;    

    letter-spacing: -0.07em;
}
h1, h2 {
    position: relative;
    line-height: 2;
}

h2 {
    font-size: 2.4em;
    line-height: 1.33;
}

@mixin heading-font {
    font-family: 'colaborate', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.07em;
}
@mixin body-font {
    font-family: 'Merriweather', 'Times New Roman', 'Roman', serif;
    letter-spacing: normal;
}