@import '_common/colours';
@import '_common/viewports';
@import '_common/fonts';
@import '_common/animations';
@import '_common/icons';

@media screen {
    @-ms-viewport { width: device-width; }
}
.preload * {
    transition: none !important;
}

html {
    height: 100%;
}
body {
    @include background-gradient;
    color: #343434;
    padding: 0;
    margin: 0;
}

@import '_common/_stage-layouts';
@import '_common/_type';

@import '_sections/_home';
@import '_sections/_work';
@import '_sections/_about';
	
.LogoName {
    color: #ffffff;
    line-height: 0.8;
    display: inline-block;
    
    .LogoName-logo {
        height: 1.38em;
        display: inline-block;
        margin-right: 0.2em;
    }
    .LogoName-logotype {
        display: inline-block;
    }
    .LogoName-first {
        display: block;
    }
    .LogoName-last {
        display: block;
        font-size: 0.85em;
    }
    text-decoration: none;
}

@import '_common/_main-menu';

header {
    
    h2 {
        font-size: 1.25em;
        margin-bottom: 1em;
        
        color: #0059BF;
        
        line-height: 1.75;
        letter-spacing: normal;
        
        left: 0;
        
        font-weight: normal;
        font-family: 'Merriweather', 'Times New Roman', 'Roman', serif;
        
        &::before {
            display: none;
        }
    }
}

p {
    font-size: 1.0em;
    line-height: 1.7;
    font-feature-settings: "liga", "onum", "kern";
    margin: 0px 0px 1.75em;
    text-rendering: geometricprecision;
}

p a {
    text-decoration: none;
    
    color: #0059BF;
    border-bottom: 1px solid rgba(0,  89,  191,  0);
    transition: border 0.8s ease;
    
    &:hover {
        border-bottom: 1px solid rgba(0,  89,  191,  1);    
        transition: border 0.3s ease;
    }
    
    &:visited {
        color: #003B7F;
        &:hover {
            border-bottom: 1px solid rgba(0,  59,  127,  0);
        }
    }
}

@include sm-viewport {
    a {
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
}