doctype html
html(lang="en")
  head
    -var pageTitle = pageTitle || "Kashi Samaraweera's Website";
    title=pageTitle
  body
    header.PageHeader
      h1 Kashi Samaraweera's Website
      nav
        ul.MainMenu
          li.MainMenu-selected
            a(href="/") News
          li
            a(href="/work") Work
          li
            a(href="/contact") Contact
    div.Main
      block MainContent