doctype html
html(lang="en")
  //- Defaults for page variables
  -var pageTitle = "Kashi Samaraweera"
  -var mainMenu = true
  -var baseScripts = []
  //- Optional override of default variables
  block Vars
  -var allScripts = baseScripts
  -if (typeof(scripts) !== "undefined") {
    allScripts = baseScripts.concat(scripts)
  -}
  head
    title= pageTitle
    link(href="style.min.css",rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400",rel="stylesheet",type="text/css")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
  body
    div.Main
      block MainContent
    each script in baseScripts
      script(src="#{script}",type="text/javascript")