.About {
    color: rgba(255,255,255, 0.65);
    
    background: 
//        $page_bg_grad,
        url('images/page-bg-overlay-grid.png') repeat-x fixed,
        url('images/page-bg-2.jpg') no-repeat fixed;

    background-position:
//        bottom calc(8vh + 2.96rem) left 0,
        bottom 0 left 0,
        center center;
    
    background-size: auto, cover;
    
	h1 {
        color: #ffffff;
    }
}