.Intro {
	background-color: $dark_gray;
	color: rgba(255,255,255, 0.65);
    
    background: 
        $page_bg_grad,
        url('images/page-bg-overlay-grid.png') repeat-x,
        url('images/page-bg-0.jpg') no-repeat;

    background-position:
        bottom calc(8vh + 2.96rem) left 0,
        bottom 0 left 0,
        center center;

    background-size: auto, auto, cover;
    
  p {
		font-family: 'colaborate';
		font-weight: bold;
		font-size: 0.66em;;
		line-height: 1.66;
		letter-spacing: -0.05em;
		
		margin: 0 0 1em 0;
				
		strong {
			font-weight: bold;
			color: rgba(255,255,255,1);
		}
	}
  
  	@include sm-viewport {
		p {
			font-size: 6.82vw;
			line-height: 1.33;
			letter-spacing: -0.05em;
			margin: 0 0 1.75em 0;
		}
	}
	
	
}