.Intro {
	background-color: $dark_gray;
	color: rgba(255,255,255, 0.65);
 
  p {
		font-family: 'colaborate';
		font-weight: bold;
		font-size: 0.75em;;
		line-height: 1.33;
		letter-spacing: -0.05em;
		
		margin: 0 0 1em 0;
				
		strong {
			font-weight: bold;
			color: rgba(255,255,255,1);
		}
	}
  
  	@media(--sm-viewport) {
		p {
			font-size: 6vw;
			line-height: 1.33;
			letter-spacing: -0.05em;
			margin: 0 0 1.75em 0;
		}
	}
	
	
}