.Work {
	h1 {
        color: $work_red;
    }
    
    &.Main .Main-mainContent {
        background-color: $work_red;
        color: #ffffff;
        
        @include sm-viewport {
            color: inherit;
        }
    }
    
    &Access fieldset {
        border: none;
        padding: 0;
        margin: 0;
        
        legend {
            display: inline-block;
        }
        
        input[type="radio"] {
        }
    }
}