.Work {
	background-color: $work-red;
	color: #ffffff;
	position: relative;
	padding: 4vh 4vw;
	margin: 2vh 2vw;
	min-height: 75vh;	
	
	position: relative;
	
	h1 {
		color: #ffffff;
		z-index: 101;
		margin: 0;
	}
  
  .WorkList {
	  display: inline-block;
	  position: absolute;
	  background-color: $work_red;
	  
	  width: 28vw;
	  height: calc(75vh - 12rem);
	  
	  left: 0;
	  top: 0;
	  
	  z-index: 100;
	  
	  padding: calc(6rem + 4vh) 2vw;
	  margin: 0;
	  
	  ul {
		  padding: 0;
		  margin: 0;
		  list-style: none;
		  
		  li {
			  padding: 0;
			  margin: 2rem 2vw;
			  
			  a {
				  font-size: 0.75em;
				  text-decoration: none;
				  color: #ffffff;	
				  line-height: 0.5;
				  			  
				  span {
					  display: block;
					  font-weight: normal;
					  font-size: 0.75em;
					  
					  text-transform: lowercase;
				  }
			  }
		  }
	  }
  }
  
  .WorkStage {
	  width: 64vw;
	  padding: 0;
	  margin: 0;
	  
	  min-height: 83vh;
	  position: absolute;
	  left: 32vw;
	  top: 0;
	  
	  overflow: hidden;
	  
	  &-backgroundVideo {
		  width: auto;
		  height: 100%;
		  min-width: 64vw;
		  min-height: 83vh;
		  position: absolute;
		  z-index: 90;
	  }
	  
	  &-backgroundVideoMask {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  z-index: 91;
		  background: url(images/workstage-backgroundvideo-mask.png);
		  opacity: 0.90;
		  mix-blend-mode: multiply;
	  }
  }
  
  	@media(--sm-viewport) {
		width: 83.34vw;
		padding: 16.66vw 8.33vw 8.33vw 8.33vw;
		position: relative;
		left: -8.33vw;
		min-height: calc(100vh - 24.99vw);
		margin: 0;
			
		.WorkList {
			width: auto;
			height: auto;
			display: block;
			position: static;
			z-index: inherit;
			
			ul li {
				margin: 0.66em 0;
			}
			
			margin: 0;
			padding: 0;
		}

		.WorkStage {
			display: none;
			&-backgroundVideo {
				display: none;
			}
			&-backgroundVideoMask {
				width: 100%;
				height: 100%;
				display: none;
			}			
		}
		p {
			font-size: 6vw;
			line-height: 1.33;
			letter-spacing: -0.05em;
			margin: 0 0 1.75em 0;
		}
	}
	
	
}