.Main.Work {
    color: rgba(255,255,255, 0.65);
    
    background: 
        $page_bg_grad,
        url('images/page-bg-overlay-grid.png') repeat fixed,
        url('images/page-bg-1.backup.jpg') no-repeat scroll;

    background-position:
        bottom 0 left 0,
        bottom 0 left 0,
        center center;
    
    background-size: auto, auto, cover;
    
	h1 {
        color: #ffffff;
    }
}

body.FloatingMenus {
    .Main-sectionMenu {
        nav {
            background-color: $work-red;
        }
    }
}