.Main-stageLeft
  h1 Work
  p
    | Please request access if you do not already have it. It’ll take 30 seconds tops.
  p
    | Also, regardless of which method you choose, 
    a(href="https://github.com/kashisau/website2015") I don’t store your details
    | .
.Main-mainContent
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis luctus metus. Ut pretium non erat sit amet ornare. Nunc blandit, ante sed porttitor volutpat, orci velit venenatis mauris, eget ultricies mauris nisl vitae ipsum. Nam auctor rutrum massa. Vestibulum ultrices nisl eget sem ullamcorper, eget facilisis urna aliquet. Curabitur urna quam, placerat id velit sit amet, eleifend imperdiet ligula. Phasellus eu posuere eros, quis porta arcu. Pellentesque sodales id quam vel pretium. Ut aliquet eu purus at rutrum. Curabitur eget varius mi. Etiam posuere risus lorem. Donec non tristique urna, et pulvinar augue. Vestibulum et vehicula eros. 

  p Nulla eget eleifend lorem, sagittis accumsan nisi. Nam nec urna in sem malesuada luctus in non dui. Phasellus efficitur urna ac consequat congue. Praesent porttitor sapien nunc, nec feugiat metus consequat eu. Aliquam ex purus, molestie ut viverra ac, posuere ornare purus. Nam ligula nunc, venenatis nec semper nec, egestas in risus. Phasellus mollis sem vitae leo commodo ullamcorper. 

  p Curabitur dictum justo nec nisl volutpat, id venenatis massa consectetur. Donec molestie erat porttitor erat hendrerit pharetra. Vestibulum tempus condimentum mauris, id faucibus mi elementum vitae. In hac habitasse platea dictumst. Duis vitae eros accumsan, hendrerit ex eu, tempor enim. Mauris ac ullamcorper massa. Nunc in mauris sit amet nulla facilisis tristique porta id massa. Sed eros mauris, posuere eget iaculis id, gravida nec mauris. In hac habitasse platea dictumst. Donec id lobortis ante. Mauris elit augue, finibus vitae purus commodo, vehicula facilisis ligula. Morbi placerat neque et felis iaculis ultricies. Ut sed lectus tincidunt, convallis neque at, ullamcorper magna. Aliquam volutpat arcu pharetra ultrices sodales. 

  p Morbi ante orci, ullamcorper sed malesuada vitae, egestas vitae urna. Etiam quis nibh egestas turpis rutrum consequat. Maecenas pellentesque enim dui, in tincidunt turpis tristique ut. Donec bibendum egestas neque, ac tincidunt nibh dictum at. Quisque vestibulum enim sed varius vulputate. Mauris mi ligula, porta vitae bibendum nec, pharetra vel nisl. Nulla ac tincidunt massa. Etiam eu erat vel est tincidunt hendrerit. Phasellus vitae tristique nunc. Suspendisse vitae dui massa. Nam non facilisis tortor, et euismod elit. Nulla fermentum mauris at rhoncus commodo. Integer dapibus non risus eu interdum. Aenean sit amet ipsum eget arcu iaculis porttitor. Vivamus dolor lorem, consequat nec turpis vel, pretium semper felis. 

  p Vestibulum eleifend, eros ac ullamcorper vestibulum, tortor orci auctor ex, sit amet vehicula massa massa interdum enim. Vivamus vel facilisis libero. Suspendisse faucibus justo non lobortis tincidunt. Nam auctor, leo a facilisis commodo, purus nulla pellentesque urna, ac imperdiet quam dui et turpis. Nullam non facilisis massa. Vestibulum eu risus eget erat faucibus efficitur auctor nec augue. Fusce eleifend posuere odio, ac posuere nunc varius eget. In aliquam vitae neque et dignissim. Aliquam blandit tincidunt augue id dignissim. Sed ac faucibus diam. Nullam elit diam, faucibus sit amet faucibus at, facilisis eget odio. Aenean molestie velit viverra metus sagittis mattis. Proin et sodales tellus, eget laoreet risus. 
