form(method="post",action="").WorkAccess.WorkAccess-login
  fieldset
    legend Authorisation required
    p
      | Please click the link provided via email, enter the code SMSed to your phone or 
      a(href="/work/apply",title="Seek permission to see this section of the portfolio") request access
      |  to the complete list of portfolio work.
    label.WorkAccess-code
      | Access code
      input(type="password",maxlength="10",placeholder="Enter your 6-digit access code").WorkAccess-codeInput
    input(type="submit",value="Enter").WorkAccess-submitBtn