ul.WorkList-items
  li.WorkList-item
    a(href="work1") Work Case study 1
      span Some subtitled info
  li.WorkList-item
    a(href="work1") Work Case study 2
      span Some subtitled info
  li.WorkList-item
    a(href="work1") Work Case study 3
      span Some subtitled info