p
  | Web applications I've built.
nav.WorkList.TitleFont
  ul
    li.WorkList-item0
      a(href="work/work0.html").is-active
        | Work item 1
        span.WorkList-itemType Web application
    li.WorkList-item1
      a(href="work/work1.html")
        | Work item 2
        span.WorkList-itemType Web application
    li.WorkList-item2
      a(href="work/work2.html")
        | Work item 3
        span.WorkList-itemType Interactive detailer
div.WorkStage
  video(src="/videos/work-1.mp4",autoplay="true",loop).WorkStage-backgroundVideo
  div.WorkStage-backgroundVideoMask