nav.SectionMenu
  h1 More
  h2 Work
  ul
    li
      a(href="/work").is-active Work home
        span What I do
    li
      a(href="work1") Work Case study 1
        span Some subtitled info
    li
      a(href="work1") Work Case study 2
        span Some subtitled info
    li
      a(href="work1") Work Case study 3
        span Some subtitled info