extends ../_layouts/_default
block Vars
  -mainMenu = true
  -relativeDir = '../'
block MainContent
  div.Main.Main--layout-stageLeft.Work
    -if (typeof(workToken) !== "undefined")
      include _worklist
    -else
      include _access