extends ../_layouts/_default
block Vars
  -mainMenu = true
  -relativeDir = '../'
block MainContent
  div.Main.Work
    h1 Work
    -if (typeof(workToken) === "undefined")
      include _worklist
    -else
      include _login