extends _layouts/_placeholder
block Vars
  -mainMenu = false
block MainContent
    div.Placeholder
      header
        h1
          | Kashi
          br
          | Samaraweera
        h2 Full-stack web application developer specialising in interactive content.
      p
        | Formerly at Sydney creative agency 
        a(href="http://ward6.com.au/",rel="noreferrer") Ward6
        | , I've taken a sabbatical until early 2016 to do some travelling and hone my skills in emergent web technologies. 
      p
        | I'm working on a new portfolio for my front-end development, the progress of which can be tracked on  
        a(href="https://bitbucket.org/KashiS") BitBucket
        | . You can keep up with my travels via 
        a(href="https://instagram.com/kashisamaraweera") Instagram
        | , connect to my professional network via 
        a(href="https://au.linkedin.com/in/kashis") LinkedIn
        |  or get in touch via email, 
        a(href="mailto:Kashi%20Samaraweera<kashi@kashis.com.au>") kashi@kashis.com.au
        | .
