extends _layouts/_placeholder
block Vars
  -mainMenu = false
block MainContent
    div.Placeholder
      h1 Kashi Samaraweera
      p 
        | Kashi is a developer specialising in interactive content delivered through the web.
        | He is currently doing exciting things in online learning for healthcare professionals at Sydney creative agency 
        a(href="http://ward6.com.au",rel="noreferrer") Ward6
        | .
      p.Contact
        | You can reach me at 
        a(href="mailto:kashi@kashmaniac.com.au") kashi@kashmaniac.com.au
        |  or see what's happening on 
        a(href="https://medium.com/@Kashi") @Kashi on Medium
        | .
      h2 This website
      p
        | This website is being worked on during Q1 2015. 
        | You can track the progress on 
        a(href="https://bitbucket.org/KashmaNiaC/Website2015/") BitBucket
        | .