extends _layouts/_default
block Vars
  -var mainMenu = true
  -var section = "home"
block MainContent
  div.Main.Intro.TitleFonts
    .LogoName
        img(src=relativeDir+"images/mainmenu-logo.png").LogoName-logo
        div.LogoName-logotype
            span.LogoName-first Kashi
            span.LogoName-last Samaraweera
        span.LogoName-slogan Full-stack developer, Sydney