extends _layouts/_placeholder
block Vars
  -mainMenu = false
block MainContent
    div.Placeholder
      header
        h1 Kashi Samaraweera
        h2 A full-stack web application developer specialising in interactive content.
      p
        | I'm currently doing exciting things in online learning for healthcare professionals at Sydney creative agency 
        a(href="http://ward6.com.au/",rel="noreferrer") Ward6
        | . You can reach me at 
        a(href="mailto:Kashi%20Samaraweera<kashi@kashmaniac.com.au>") kashi@kashmaniac.com.au
        | ; or see what I'm working on at the moment on my development/travel blog, 
        a(href="https://enroute.kashmaniac.com.au/") 
            em En&nbsp;Route
        | .
      h2 Upcoming portfolio
      p
        | This website will be host to a portfolio for my front-end development work and is being built during Q2-3 2015 (source on
        a(href="https://bitbucket.org/KashmaNiaC/website2015-placeholder") BitBucket
        | ).