extends _layouts/_default
block Vars
  -mainMenu = true
  -section = "home"
block MainContent
  div.Main.Intro.TitleFont
    p Hello
    p
      | My name's 
      strong Kashi Samaraweera
      |  and I'm a 
      strong full-stack developer
      |  for the web.
    p
      | I've been responsible for the 
      strong architecture
      | , 
      strong development
      |  and successful delivery of 
      strong e-learning systems
      | , digital 
      strong interactive detailers
      |  and websites from microsites to custom-built 
      strong certification management systems
      |  for GPs and pharmacists accross Australia.