extends _layouts/_placeholder
block Vars
  -mainMenu = false
block MainContent
    div.Placeholder
      header
        h1
          | Kashi
          br
          | Samaraweera
        h2 Full-stack web application developer specialising in interactive content.
      p
        | I'm currently doing exciting things in online learning for healthcare with Sydney creative agency 
        a(href="http://ward6.com.au/",rel="noreferrer") Ward6
        | . You can reach me at 
        a(href="mailto:Kashi%20Samaraweera<kashi@kashis.com.au>") kashi@kashis.com.au
        | ; or see what I'm working on at the moment on my development/travel blog, 
        a(href="https://enroute.kashis.com.au/")
            em En&nbsp;Route
        | .
      h2 Upcoming website
      p
        | This website will feature a selection of my work in front-end development and solution design for web application development, expected to go live in October 2015 (source on 
        a(href="https://bitbucket.org/KashmaNiaC/website2015-placeholder") BitBucket
        | ).